html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  
  overflow-y: scroll;
  scroll-behavior: smooth;

  padding-top: 56px;
  transition: padding 0.3s ease-in-out;
  @media (max-width: 768px) {
    padding-bottom: 72px;
  }
  @media (max-width: 576px) {
    padding-top: 44px;
  }
  
}

