.header__burger-btn {
  position: fixed;
  z-index: 1200;
  display: none;
  position: relative;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.header__burger-btn span {
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #737373;
  left: 5px;
  transition: transform .5s, opacity .5s, background-color .5s;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-5px);
}
.header__burger-btn span:nth-child(3) {
  transform: translateY(5px);
}

.header.open .header__burger-btn span {
  background-color: var(--accent);
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}


@media (max-width: 992px) {
  .header__burger-btn {
    display: block;
  } 

  .header.open .menu {
    transform: translateX(100%);
  }
}